<% layout('layout') -%>

<!-- Begin page content -->
<div class="container">
  <br/>
  <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added within <code>#wrap</code> with <code>padding-top: 60px;</code> on the <code>.container</code>.</p>
  
  <div class="row">
    <div id="raph-holder" class="col-lg-8"></div>
    <div class="col-lg-4">Download</div>
  </div>
</div>

<script src="javascripts/colormap-client.js"></script>
<script>
  window.onload = function() {colormapPlot();};
</script>
    