<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Custom colormaps for Matlab and Matplotlib - Colormap.org</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
<!--     <link href="stylesheets/sticky-footer-navbar.css" rel="stylesheet">
 -->
    <!-- Custom styles for this template -->
    <link href="stylesheets/colormap.css" rel="stylesheet">
    <link href="stylesheets/glyphicons/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200' rel='stylesheet' type='text/css'>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Fixed navbar -->
      <div class="navbar">
        <div class="container">
          <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> -->
          <a class="navbar-brand" href="/">COLORMAP</a>
<!--           <div class="nav-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/gallery">GALLERY</a></li>
              <li><a href="/about">ABOUT</a></li>
              <li><a href="/contact">CONTACT</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
          </div> -->
        </div>
      </div>

      <!-- Begin page content -->
      <%- body %>

    <div id="push" style="height:55px"></div>
    </div>

    <div id="footer" class="navbar navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted credit" style="margin-bottom:0px">Made with <a target="_blank" href="http://nodejs.org/">Node.js</a> and <a target="_blank" href="http://raphaeljs.com/">Raphaël.js</a>.</p>
      </div>
    </div>


    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="javascripts/bootstrap.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js'></script>

  </body>
</html>