body {
  background: url('/images/cream_dust.png') repeat;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  background: #eee;
  background: url('/images/light_noise_diagonal.png') repeat;
  border-bottom: 1px solid #dedede;
}

.navbar-brand {
  font-family: 'Raleway', sans-serif;
  font-weight:200;
  font-size:24px;
}

.navbar-nav>li>a {
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  font-size: 14px;
}

#raph-cbar-holder {
  margin-left: 5px;
}

#dl-sidebar {
  background: #eee;
  background: url('/images/light_noise_diagonal.png') repeat;
  border: 1px solid #999;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 15px;
  height: 405px;
  margin-left: 20px;
}

#plot-control-buttons {
  border: none;
  background: none;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
}

code {
  background: #eee;
}

#footer {
  background: url('/images/light_noise_diagonal.png') repeat;
  border-top: 1px solid #dedede;
}

/* Size Overrides */
@media screen and (min-width: 768px) {
  .navbar-nav {
    float: right;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 940px;
  }
}